*{
	margin: 0;
	padding: 0;
}

.wrapper{
	width: 100%;
	margin: auto;
}
.header1{
	padding: 20px;
	text-align: center;
	background: #070930;
	color: #e07719;
	font-size: 30px; 
}


.navigation{
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #070930;*/
}
.navigation li{
	display: inline-block;

}

.navigation li a{
	display: block;
  text-align: center;
  padding: 14px 16px;
  color: #e07719 ;
	text-decoration: none;
	/*padding: 5px 20px;*/
	font-family: inherit;
	font-size: 20px;

}
.navigation li a:hover{
	background: #070930;
	opacity: 0.7;
/*color: #333;*/
}
.navigation2{
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

.navigation2 li{
	display: inline-block;
}

.navigation2 li a{
	display: block;
  text-align: center;
  padding: 14px 16px;
  color: #e07719 ;
	text-decoration: none;
	/*padding: 5px 20px;*/
	font-family: inherit;
	font-size: 20px;

}
.navigation2 li a:hover{
	background: #070930;
	opacity: 0.7;
}

body{
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../img/smallfruits.jpg");
	background-size: cover;
	background-position: center center ;
	background-position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}
.intro{
	position: relative;
	width: 600px;
	height: 30px;
	margin: 5% 40% ;
	text-align: centre;
}
.intro h1{
	text-align: centre;
	color: #070930 ;
	text-transform: uppercase ;
	font-size: 50px;
}
fieldset{
	position: relative;
	padding: 50px 50px;
	text-align: center;
	background-color: #e07719;
	opacity: 0.7;
	border: none;
	border-style: dotted ;
	color: #070930;
	width: 500px;
	border-radius: 12px ;
	margin: auto;


}
